NEXT_PUBLIC_ESCROW_CONTRACT_ADDRESS=CDE64MRDFC5HN3TXL63VOCZOSC3UXYG2MI2X3JXQXLR3OJYBY6MY6GPE
NEXT_PUBLIC_ARBITER_CONTRACT_ADDRESS=CALIVYUP5R7NWDHSYZO6BP3HG7DUSKAL553CWOHKDPHRVYKZDAWIJ7KK
NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_STELLAR_RPC_URL=https://soroban-testnet.stellar.org:443
